head{


  margin: 0 auto;
  background-color: #727FA0;
  text-decoration-color: blue;
  padding: 0 20px 20px 20px;

}

title{

  margin: 0 auto;
  font-size: 55 px;
  background-color: #727FA0;
  padding: 0 20px 20px 20px;

}

body{

  margin: 0 auto;
  background-color: #281F2F;
  padding: 0 20px 20px 20px;

}

.top-background{
  padding: 0 5px 5px 5px;
  background-color: #281F2F;
}

.top-bar-right

.callout{
  background-color: #969D9B;

}

h1{
    padding: 0 5px 5px 5px;
    font-family: "Times New Roman", Times, serif;
    .bolder{
      font.weight: bolder;
    }
}

h2{
    padding: 0 5px 5px 5px;
    font-family: "Times New Roman", Times, serif;
}

h3{
    font-size: 55px;
    padding: 0 5px 5px 5px;
    font-family: "Times New Roman", Times, serif;
}

h4{
    padding: 0 5px 5px 5px;
    font-family: "Times New Roman", Times, serif;
}
