head{


  margin: 0 auto;
  background-color: #626BBC;
  text-decoration-color: blue;
  padding: 0 20px 20px 20px;

}

title{

  margin: 0 auto;
  font-size: 55 px;
  background-color: #626BBC;
  padding: 0 20px 20px 20px;

}

body{

  margin: 0 auto;
  background-color: #626BBC;
  padding: 0 20px 20px 20px;

}

.callout{
  background-color: #969D9B;
  text-decoration-color: black;
}

div * {

}
#id {

}
